@use '@carbon/react/scss/themes' as *;

//overriding theme tokens and adding a custom token
@use '@carbon/react/scss/theme' with (
  $theme: (
    // add a completely new token
    custom-token: #bada44,
    // redefine existing tokens to new values
    text-error: rebeccapurple,
    focus: pink,
  )
);

// override a component token
@use '@carbon/react/scss/components/button/tokens' as button-tokens with (
  $button-primary: #3f51b5
);
@use '@carbon/react';

:root {
  @include theme.theme();
}
